section#services {
    text-align: center;
    padding: 2rem 0;
    
}

.services__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Responsive columns */
    gap: 3rem;
    justify-content: center; /* Ensure the grid itself is centered */
    margin: 0 auto; /* Center the grid container on the page */
    width: 100%; /* Take up full width */
    max-width: 1200px; /* Limit the maximum width of the container */
}

.service {
    background: var(--color-bg-variant);
    border-radius: 0 0 2rem 2rem;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    max-width: 350px; /* Set a max width for individual service items */
    text-align: center; /* Ensure the content inside is centered */
    margin: 0 auto; /* Center each individual service element */
}

.service__list {
    padding: 2rem;
}


.service:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.service__head {
    background: var(--color-primary);
    background-size: contain;
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}

.service__head h3 {
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}



.service__list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.service__list-icon {
    color: var(--color-primary);
    margin-top: 4px;
}

.service__list p {
    font-size: 0.9rem;
}

/* Media Queries for tablet */
@media screen and (max-width:1024px) {
    .services__container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .service {
        height: auto;
    }
}

/* Media Queries for phone */
@media screen and (max-width:600px) {
    .services__container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}
